
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color:#3579EA;
    --text-color: #2F2938;
    --red-color:#E91E35;
    --green-color: #29D469;
    --yellow-color:#FFBD47;
    --background-color:#F5F5F5;
    --white-color:#FFFFFF;
  }

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  overflow-y: scroll;
}
.target{
  font-weight: 700 !important ; 
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}
button{
  cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: var(--white-color);
width: 100%;
}


/* Css navigation */
.full-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E6E6E6;
    padding: 18px;
    flex:1;
    max-width: 192px    ;
}

.full-navigation .top-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;

}

.full-navigation .top-navigation .logo {
    max-width: 50px;
    max-height: 50px;
}

.full-navigation .top-navigation .group-link ul {
    list-style: none;
    margin: 0px 10px;
}

.full-navigation .top-navigation .group-link li {
    margin-top: 30px;
}

.full-navigation img {
    object-fit: fill;
    max-width: 24px;
    max-height: 24px;

}

.full-navigation .top-navigation .group-link #avatar {
    border-radius: 50%;
    border: 2px solid var(--white-color);
}

.full-navigation span {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--white-color);
    margin-left: 10px;
    vertical-align: 5px;
}

.full-navigation .bot-navigation {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-navigation .bot-navigation .logout-White {
    display: none;
}



/* footer */

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E6E6E6;
    padding: 18px;
}

.navigation .top-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px;
    gap: 36px;

}

.navigation .top-navigation .logo {
    max-width: 50px;
    max-height: 50px;
}

.navigation .top-navigation .group-link ul {
    list-style: none;
    margin: 0px 10px;
}

.navigation .top-navigation .group-link li {
    margin-top: 30px;
}

.navigation img {
    object-fit: fill;
    max-width: 24px;
    max-height: 24px;

}

.navigation .top-navigation .group-link #avatar {
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.navigation span {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--white-color);
    margin-left: 10px;
    vertical-align: 5px;
}

.navigation .bot-navigation {
    margin-bottom: 24px;
}

.navigation {
    display: none;
}


/*  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 2;
    padding: 32px;
    gap: 24px;
    height: 100vh;
    
   

}

/* popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility:hidden;
  opacity: 0;


}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .close {
  position: absolute;
  top: 5px;
  right: 25px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white-color);
}

.popup {
  display: flex;
  margin: 70px auto;
  background:var(--white-color);
  border-radius: 10px;
  width: 80%;
  position: relative;
  height: 80%;
  gap: 10px;

}
/* popup loading */
#popupLoading {
  background:#000;
}
#popupLoading .popup{
  background-color: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {

    /* Container footer */
    .container {
        display: flex;
        flex-direction: column;
    }

    .full-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 0px;
        order: 3;
        background-color: #121212;
        flex: 1;
        max-width: none;
    }

    .full-navigation .top-navigation {
        margin-top: 0px;
        width: 100%;

    }

    .full-navigation .top-navigation .logo {
        display: none;
    }

    .full-navigation span {
        display: none;
    }

    .full-navigation .group-link {
        width: 100%;
    }

    .full-navigation .top-navigation .group-link ul {
        display: flex;
        justify-content: space-around;


    }

    .full-navigation .top-navigation .group-link li {
        margin: 0px;


    }

    .full-navigation .top-navigation .group-link li {
        margin: 0px;
    }

    .full-navigation .top-navigation .group-link li.home {
        order: 1
    }

    .full-navigation .top-navigation .group-link li.mess {
        order: 2
    }

    .full-navigation .top-navigation .group-link li.post {
        order: 3
    }

    .full-navigation .top-navigation .group-link li.notifications {
        order: 4
    }

    .full-navigation .top-navigation .group-link li.avatar {
        order: 5
    }

    .full-navigation .bot-navigation {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0px;
        background-color: #121212;
        padding: 14px
    }

    .navigation .top-navigation {
        margin: 0px;
    }

    .navigation .bot-navigation {
        margin: 0px;
    }

    .navigation .bot-navigation span {
        display: none;
    }


}


body{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#000;
}
.loader-container{
  width:80px;
  height:4px;
  margin:0 auto;
  background-color:#aaa;
  border-radius:20px;
  overflow:hidden;
}
.loader{
  width:60%;
  height:100%;
  background-color:#de4b4b;
  display:block;
  animation: animate  ease-out 1s infinite;
}
.loading{
  margin:8px auto;
  
  text-align:center;
  font-size:16px;
  font-weight:700;
  color:#aaa;
}
@keyframes animate{
    0%{
        transform: translatex(-50%);
      }
    50%{
        transform: translatex(100%);
      }
    100%{
        transform:translatex(-50%)
      }

}
 