@import url(/index.css);
@import url(/Home/homepage.css);
/*  Css container*/



/* profile */

.main-profile {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex: 8;
    gap: 50px;
    padding: 25px;
    overflow: scroll;
}

.main-profile .top-profile {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-profile .top-profile .username {
    display: flex;
    gap: 20px;
}

.main-profile .top-profile .username a {
    color: #121212;
}

.main-profile .top-profile img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.main-profile .top-profile .information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.information .username span{
    font-size: 20px;
    font-weight: 600;
}

.information .username button{
    font-size: 14px;
    padding: 7px 16px !important;
    border-radius: 8px;
    border: none;
}
.information .specification .content-specification{
    font-weight: 600;
}

.information  .sign{
    font-size: 14px;
}
.main-profile .top-profile .specification {
    display: flex;
    gap: 20px;
}

.main-profile .top-profile .specification .number {
    font-weight: 1000;
}

.main-profile .bot-profile {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.main-profile .bot-profile .title {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main-profile .bot-profile .list-post {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-profile .bot-profile .list-post img {
    width: 230px;
    height: 230px;
}



.group-post {

    position: relative;
}

.group-post:hover {
    opacity: 0.5;
}

.group-post-emotion {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 50%;
    right: 35%;
    display: none;
}

.group-post:hover .group-post-emotion {
    display: flex;

}




.group-post .group-post-emotion img {
    max-width: 20px;
    max-height: 20px;
}


.title a{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

/*  */

@media screen and (max-width: 500px) {

    /* Container footer */
    .container {
        display: flex;
        flex-direction: column;
    }

    .full-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 0px;
        order: 3;
        background-color: #121212;
        flex: none
    }
    
    .full-navigation{
        flex: none;
    }

    .full-navigation .top-navigation {
        margin-top: 0px;
        width: 100%;

    }

    .full-navigation .top-navigation .logo {
        display: none;
    }

    .full-navigation span {
        display: none;
    }

    .full-navigation .group-link {
        width: 100%;
    }

    .full-navigation .top-navigation .group-link ul {
        display: flex;
        justify-content: space-around;


    }

    .full-navigation .top-navigation .group-link li {
        margin: 0px;


    }

    .full-navigation .top-navigation .group-link li {
        margin: 0px;
    }

    .full-navigation .top-navigation .group-link li.home {
        order: 1
    }

    .full-navigation .top-navigation .group-link li.mess {
        order: 2
    }

    .full-navigation .top-navigation .group-link li.post {
        order: 3
    }

    .full-navigation .top-navigation .group-link li.notifications {
        order: 4
    }

    .full-navigation .top-navigation .group-link li.avatar {
        order: 5
    }

    .full-navigation .bot-navigation {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0px;
        background-color: #121212;
        padding: 14px
    }

    .navigation .top-navigation {
        margin: 0px;
    }

    .navigation .bot-navigation {
        margin: 0px;
    }

    .navigation .bot-navigation span {
        display: none;
    }


    /* main-profile */
    .top-profile .information button {
        display: none;
    }



    .main-profile .bot-profile .list-post img {
        width: 150px;
        height: auto;
    }
}