@import url(/index.css);
/*  Css container*/

.container {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    height: 100vh;

}

/* Css navigation */
.full-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E6E6E6;
    padding: 18px;
}

.full-navigation .top-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;

}

.full-navigation .top-navigation .logo {
    max-width: 50px;
    max-height: 50px;
}

.full-navigation .top-navigation .group-link ul {
    list-style: none;
    margin: 0px 10px;
}

.full-navigation .top-navigation .group-link li {
    margin-top: 30px;
}

.full-navigation img {
    object-fit: fill;
    max-width: 24px;
    max-height: 24px;

}

.full-navigation .top-navigation .group-link #avatar {
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.full-navigation span {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--white-color);
    margin-left: 10px;
    vertical-align: 5px;
}

.full-navigation .bot-navigation {
    margin-bottom: 24px;
}

.full-navigation .bot-navigation .logout-White {
    display: none;
}

/* footer */

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E6E6E6;
    padding: 18px;
}

.navigation .top-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px;
    gap: 36px;

}

.navigation .top-navigation .logo {
    max-width: 50px;
    max-height: 50px;
}

.navigation .top-navigation .group-link ul {
    list-style: none;
    margin: 0px 10px;
}

.navigation .top-navigation .group-link li {
    margin-top: 30px;
}

.navigation img {
    object-fit: fill;
    max-width: 24px;
    max-height: 24px;

}

.navigation .top-navigation .group-link #avatar {
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.navigation span {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--white-color);
    margin-left: 10px;
    vertical-align: 5px;
}

.navigation .bot-navigation {
    margin-bottom: 24px;
}

.navigation {
    display: none;
}


/*  */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}



@media screen and (max-width: 500px) {

    /* Container footer */
    .container {
        display: flex;
        flex-direction: column;
    }

    .full-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 0px;
        order: 3;
        background-color: #121212;

    }

    .full-navigation .top-navigation {
        margin-top: 0px;
        width: 100%;

    }

    .full-navigation .top-navigation .logo {
        display: none;
    }

    .full-navigation span {
        display: none;
    }

    .full-navigation .group-link {
        width: 100%;
    }

    .full-navigation .top-navigation .group-link ul {
        display: flex;
        justify-content: space-around;

    }

    .full-navigation .top-navigation .group-link li {
            margin: 0px;
        }

        .full-navigation .top-navigation .group-link  li.home{
            order: 1
        }

        .full-navigation .top-navigation .group-link li.mess {
            order: 2
        }

        .full-navigation .top-navigation .group-link li.post{
            order: 3
        }

        .full-navigation .top-navigation .group-link li.notifications {
            order: 4
        }

        .full-navigation .top-navigation .group-link li.avatar {
            order: 5
        }

        .full-navigation .bot-navigation {
            display: none;
        }



        .navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0px;
            background-color: #121212;
            padding: 14px
        }

        .navigation .top-navigation {
            margin: 0px;
        }

        .navigation .bot-navigation {
            margin: 0px;
        }

        .navigation .bot-navigation span {
            display: none;
        }









    }




