@import url("/index.css");




/* Css Container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:var(--background-color);
}


/* Css Left Screen */
.left-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 456px;
    height: 500px;
    background-color: var(--primary-color);
    border-radius: 8px 0px 0px 8px;
}

/* Css Right Screen */
.right-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 374px;
    height: 500px;
    background-color: var(--white-color);
    border-radius: 0px 8px 8px 0px;
}

.right-screen .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 374px;
    height: 500px;
    gap: 24px;
}

.right-screen .form-login img {
    display: none;
}

.right-screen .form-login h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
}

/* Tag Form  */
.right-screen .form-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.right-screen .form-login input {
    width: 326px;
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    padding: 8px 12px
}

::placeholder {
    color: #D0D5DD;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.right-screen .form-login label{
    color: var(--red-color);
    display: block;
    text-align: left;
    font-size: 11px;
    margin-top: 5px;
    display: none;
    
}

.right-screen .form-login button {
    width: 326px;
    height: 44px;
    background: var(--primary-color);
    border-radius: 4px;
    padding: 8px 12px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid var(--primary-color);
}

.right-screen .form-login p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--text-color);
}
.right-screen h1{
    color: var(--text-color);
}

.right-screen .form-login .register {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    color: var(--primary-color);

}

.right-screen .form-login .fwPwd {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;

}


@media screen and (max-width: 500px) {

    /* Css container with Width screen 390px */
    .container {
        background-color: var(--primary-color);
    }

    /*Css left-screen with Width screen 390px  */
    .left-screen {
        display: none;
    }

    /* Css right with Width screen 390px */
    .right-screen {
        width: 347px;
        height: 566px;
        border-radius: 8px;
    }

    .right-screen .form-login img {
        display: block;
        width: 85px;
        height: 85px;
    }

    .right-screen .form-login input {
        width: 305px;
        height: 44px;
    }

    .right-screen .form-login button {
        width: 305px;
        height: 44px;
    }


}